@model Polls.Models.Profile
@{
    ViewBag.Title = "View Profile";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<style>
    section.section-list {
        padding-bottom: 2rem;
    }

    header, section.section-list {
        background-color: #f0f0f0;
    }

        header + section > .container {
            padding-top: 1rem;
        }

    .card-block, .hero-box {
        padding: 1.25rem;
    }

    .card, .hero-box {
        position: relative;
        display: block;
        margin-bottom: .75rem;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: .15rem;
    }

    .card-title {
        margin-bottom: .75rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .form-group {
        /* margin-right: 42px; */
        margin-left: 5px !important;
    }

    .field-validation-error {
        color: red;
    }
    .input-group-addon, .input-group-btn {
    width:0% ;
    }
    th {
    text-align: center;
}
</style>

<section class="normal section-list">
    <br />
    <section id="public-display-hero" class="hero">
        <div class="container">
            <ul class="breadcrumb"><li><a href="/Home/Index">Home</a></li><li><a href="#">Profile</a></li></ul>		<div class="row">

            </div>
        </div>
    </section>
    <div class="container">

        <div class="row narrow-wrapper">
            <div class="col-sm-8 col-sm-offset-2">

                <section class="card card-block">
                    <h1 class="card-title">View Profile Settings</h1><br />
                    @using (@Html.BeginForm("ViewProfile", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div style="margin:0;padding:0;display:inline"></div>


                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">First Name</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">

                                    @Html.TextBoxFor(model => model.newProfileContact.firstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.firstName)
                                    @Html.HiddenFor(model => model.newProfileContact.countryCode)
                                    @Html.HiddenFor(model => model.newProfileContact.userId)
                                    @Html.HiddenFor(model => model.newProfileContact.ownerId)
                                    @Html.HiddenFor(model => model.newProfileContact.id)
                                    @Html.HiddenFor(model => model.newProfileContact.gender)
                                    @Html.HiddenFor(model => model.newProfileContact.educationLevel)
                                    @Html.HiddenFor(model => model.newProfileContact.jobTitle)
                                    @Html.HiddenFor(model => model.newProfileContact.companyName)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-md-4 control-label" for="user_email">Last Name</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">

                                    @Html.TextBoxFor(model => model.newProfileContact.lastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.lastName)
                                </div>
                            </div>
                        </div>


                        @*<div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">Company Name</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">

                                    @Html.TextBoxFor(model => model.newProfileContact.companyName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.companyName)
                                </div>
                            </div>
                        </div>*@

                        @*<div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">Job Title</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">

                                    @Html.TextBoxFor(model => model.newProfileContact.jobTitle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.jobTitle)
                                </div>
                            </div>
                        </div>*@
                        @*<div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">Gender</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">

                                    @Html.TextBoxFor(model => model.newProfileContact.gender, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.gender)
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">Addresss</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">

                                    @Html.TextAreaFor(model => model.newProfileContact.addressLine1, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.addressLine1)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">City</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.newProfileContact.addressCity, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.addressCity)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">State</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.newProfileContact.addressState, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.addressState)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">Country</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.newProfileContact.addressCountry, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.addressCountry)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">Zip</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.newProfileContact.addressZip, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.addressZip)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">Phone</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.newProfileContact.phoneNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.phoneNumber)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">Birth Date</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class='input-group date' id='datetimepicker111'>
                                    @Html.TextBoxFor(model => model.newProfileContact.birthDate, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.newProfileContact.birthDate)
                            </div>
                        </div>



                        @*<div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">Education Level</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.newProfileContact.educationLevel, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.educationLevel)
                                </div>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email">PayPal Email</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.newProfileContact.payPalEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.newProfileContact.payPalEmail)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user_email"></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <input type="submit" id="btnSubmit" class="btn-primary btn btn-large" value="Update" style="display:none" />
                                </div>
                            </div>
                        </div>

                      
                    }
                </section>

            </div>
        </div>

    </div>
   
</section>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
        $(function () {
            $('#datetimepicker111').datetimepicker({
                format: "dd MM yyyy", pickTime: false,
            });
        });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
