@model Polls.Models.Profile
@{
    ViewBag.Title = "ViewProfile";
}

<section class="normal section-list">

    <div class="container">

        <div class="row narrow-wrapper">
            <div class="col-sm-8 col-sm-offset-2">

                <section class="card card-block">
                    <h1 class="card-title">View Personal Settings</h1>
                    @using (@Html.BeginForm("ViewProfile", "Profile", FormMethod.Post))
                    {
                    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="OC/YK3a2SukVl9xlFRaOPeMuyio51Z68p6Ghw1NYQLc="></div>
                    <fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_login">User Name</label>
                            @Html.TextBoxFor(model => model.userName, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.profileId)
                            @Html.HiddenFor(model => model.isEmailVerified)
                            @Html.HiddenFor(model => model.token)
                            @Html.HiddenFor(model => model.isPhoneVerified)
                            @Html.HiddenFor(model => model.isCallVerified)
                            @Html.HiddenFor(model => model.source)
                            @Html.HiddenFor(model => model.userType)
                            @Html.HiddenFor(model => model.buyCompanyPolls)
                            @Html.HiddenFor(model => model.buyTurkPolls)
                            @Html.HiddenFor(model => model.isRequiedApproval)
                            @Html.HiddenFor(model => model.org)
                            @Html.HiddenFor(model => model.emailInvites)
                            @Html.HiddenFor(model => model.userId)
                            @Html.HiddenFor(model => model.isActive)
                            @Html.HiddenFor(model => model.userRole)
                            @Html.HiddenFor(model => model.isCanRunFreePoll)
                            @Html.HiddenFor(model => model.isBuyCredits)
                            @Html.HiddenFor(model => model.isPartner)
                            @Html.HiddenFor(model => model.departmentId)

                            @Html.HiddenFor(model => model.newProfileContact.countryCode)
                            @Html.HiddenFor(model => model.newProfileContact.userId)
                            @Html.HiddenFor(model => model.newProfileContact.ownerId)
                            @Html.HiddenFor(model => model.newProfileContact.id)

                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">First Name</label>
                            @Html.TextBoxFor(model => model.newProfileContact.firstName, new { @class = "form-control" })
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">Last Name</label>
                            @Html.TextBoxFor(model => model.newProfileContact.lastName, new { @class = "form-control" })
                        </fieldset>

                        <fieldset class="form-group">
                            <label class="" for="user_login">Your Name</label>
                            @Html.TextBoxFor(model => model.displayName, new { @class = "form-control" })

                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">Email</label>
                            @Html.TextBoxFor(model => model.emailAddress, new { @class = "form-control" })
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">Status</label>
                            @Html.TextBoxFor(model => model.status, new { @class = "form-control" })
                        </fieldset>


                        <fieldset class="form-group">
                            <label class="" for="user_email">Company Name</label>
                            @Html.TextBoxFor(model => model.newProfileContact.companyName, new { @class = "form-control" })
                        </fieldset>

                        <fieldset class="form-group">
                            <label class="" for="user_email">Job Title</label>
                            @Html.TextBoxFor(model => model.newProfileContact.jobTitle, new { @class = "form-control" })
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">Gender</label>
                            @Html.TextBoxFor(model => model.newProfileContact.gender, new { @class = "form-control" })
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">Addresss</label>
                            @Html.TextBoxFor(model => model.newProfileContact.addressLine1, new { @class = "form-control" })
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">City</label>
                            @Html.TextBoxFor(model => model.newProfileContact.addressCity, new { @class = "form-control" })
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">State</label>
                            @Html.TextBoxFor(model => model.newProfileContact.addressState, new { @class = "form-control" })
                        </fieldset>
                           
                        <fieldset class="form-group">
                            <label class="" for="user_email">Country</label>
                            @Html.TextBoxFor(model => model.newProfileContact.addressCountry, new { @class = "form-control" })
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">Zip</label>
                            @Html.TextBoxFor(model => model.newProfileContact.addressZip, new { @class = "form-control" })
                        </fieldset>
                        
                        <fieldset class="form-group">
                            <label class="" for="user_email">Phone</label>
                            @Html.TextBoxFor(model => model.newProfileContact.phoneNumber, new { @class = "form-control" })
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">Birth Date</label>
                            @Html.TextBoxFor(model => model.newProfileContact.birthDate, new { @class = "form-control" })
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="" for="user_email">Education Level</label>
                            @Html.TextBoxFor(model => model.newProfileContact.educationLevel, new { @class = "form-control" })
                        </fieldset>
                        
                        <fieldset class="form-group">
                            <label class="" for="user_email">PayPal Email</label>
                            @Html.TextBoxFor(model => model.newProfileContact.payPalEmail, new { @class = "form-control" })
                        </fieldset>


                        <p class="form-actions">
                            <input type="submit" id="btnSubmit" class="btn-primary btn btn-large" value="Update" />

                        </p>

                    </fieldset>
                    }
                </section>

            </div>
        </div>

    </div>
</section>