@model Polls.Models.PollResultViewModel
@{
    ViewBag.Title = "Poll Result";
}
<style>
    .well-small {
        border-radius: .15rem;
        border: 1px solid #e5e5e5;
        display: inline-block;
        background: white;
        padding: .16667rem .25rem;
        margin-bottom: 1rem;
        margin-right: .5rem;
        margin-left: 0;
    }

    .row, .hero-box {
        margin-left: -.9375rem;
        margin-right: -.9375rem;
    }



    .card-block, .hero-box {
        padding: 1.25rem;
    }

    .card, .hero-box {
        position: relative;
        display: block;
        margin-bottom: .75rem;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: .15rem;
    }

    .poll-action-row .poll-actions {
        text-align: right;
    }
</style>
<section class="normal section-list">
    <br />
    <section id="public-display-hero" class="hero">
        <div class="container">
            <ul class="breadcrumb"><li><a href="/Book/Index">Home</a></li><li><a href="#">Poll Result</a></li></ul>		<div class="row">
            </div>
        </div>
    </section>
    <div class="container">
        <div class="pubdisp">
            <div class="">
                <a name="full_results"></a>
                <div class="pr-header row">
                    <div class="col-sm-4">
                        <h2>
                            Full Poll Results
                        </h2>
                    </div>
                    <div class="col-sm-8">
                        <div class="well well-small pull-right">Published Jul 27, 2017</div>
                        <div class="well well-small pull-right">Public</div>
                    </div>
                </div>
            </div>

            <div class="card card-block ">
                <div class="question-display">
                    <h2>
                        @Model.myPolls.question
                    </h2>
                    <div class="input-group">
                        <span style="padding:20px">
                            <img src=@Model.myPolls.firstImagePath />
                        </span>
                        <span style="padding:20px">
                            <img src=@Model.myPolls.secondImagePath />
                        </span>
                    </div>

                </div>

            </div>
            <div class="row poll-action-row">
                <div class="col-sm-6">
                    <p>
                        <span class="poll-audience" style="">
                            <i class="fa fa-group fa-fw"></i> <span class="label label-default">@Model.myPolls.responseCompleted Respondents</span> @*<span class="label label-default">General Population</span>*@
                            @foreach (var items in Model.myPolls.filtersJson.Split(','))
                            {
                                if (Convert.ToString(items.Split(':')[0]).Replace('"', ' ').Trim().ToLower() == "filtervalue")
                                {
                                    <span class="label label-default" style="margin-right: 10px;">@Convert.ToString(items.Split(':')[1]).Replace('"', ' ').Replace('}', ' ').Replace(']', ' ').Trim() </span>
                                }
                            }

                        </span>
                    </p>

                </div>
                @*<div class="col-sm-6 poll-actions">
                        <ul class="list-inline list-links">
                            <li class="list-inline-item" data-ga-trk-hvr="download">
                                <a href="http://www.pickfu.com/UV1DUW-which-book-title-is.csv" onclick="ga('send', 'pageview', '/books/book-titles/which-book-title-is-more-appealing-CHKJJ0SY.csv');" rel="noindex nofollow"><i class="fa fa-download"></i> Export (.csv)</a>

                            </li>
                            <li class="list-inline-item">
                                <!-- AddThis Button BEGIN -->
                                <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=pickfu">
                                    <i class="fa-share fa"></i> Share
                                </a>
                                <!-- AddThis Button END -->
                            </li>
                        </ul>
                    </div>*@
            </div>

            @*<div class="answers">
                    <div class="row card-columns">
                        @foreach (var item in Model)
                        {
                            if (item.choice == 1)
                            {
                                <div class="col-sm-6 card-column">
                                    <div class="card card-block poll-option-card" data-outcome-label="winner">
                                        <div class="option" data-ga-trk-hvr="optionA">
                                            <h5>Option A</h5>
                                            <p>@item.answerText</p>
                                            <div class="clearfix"></div>
                                            <div class="option-bottom">
                                                <hr>
                                                <div class="row-wrapper">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <div class="tally-marks"><div class="tally-full" style=""><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span></span><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span></span><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span></span><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span></span><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span></span><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span></span><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span></span><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span></span></div></div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="pull-right">
                                                                <div class="label label-default">38 votes</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                            <div class="col-sm-6 card-column">
                                <div class="card card-block poll-option-card">
                                    <div class="option" data-ga-trk-hvr="optionB">
                                        <h5>Option B</h5>
                                        <p>@item.answerText</p>
                                        <div class="clearfix"></div>
                                        <div class="option-bottom">
                                            <hr>
                                            <div class="row-wrapper">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="tally-marks"><div class="tally-full" style=""><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span></span><span class="tally-group"><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span><span class="tally"></span></span><span class="tally-group"><span class="tally"></span><span class="tally"></span></span></div></div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="pull-right">
                                                            <div class="label label-default">12 votes</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>

                </div>*@ <!-- container -->

            <div class="card card-block">
                <h3 class="card-title">Responses</h3>

                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-hover table-bordered table-sm poll-responses" data-ga-trk-hvr="responses-A">
                            <thead>
                                <tr class="answer-row">
                                    <th colspan="100%">Responses to Option A</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int j = 1;}
                                @foreach (var item in Model.PollResults)
                                {
                                    if (item.choice == 1)
                                    {
                                        <tr class="answer-row">
                                            <td class="answer_num">
                                                @j
                                            </td>
                                            <td>
                                                <!-- <div style="font-size:0.8rem; color:#777; text-align:right; float:right;">
                                                    follow-up  upvote  downvote
                                                </div> -->
                                                <div class="answer-actions">
                                                </div>
                                                <div class="answer-content" data-title="GENDER: @item.gender<br/> AGE: @item.age<br/> EDUCATION: @item.education<br/> ETHNICITY: @item.ethnicity<br/> INCOME: @item.income" data-html="true" rel="tooltip" data-original-title="" title="">
                                                    <div class="answer-explanation" id="1271281-explanation">
                                                        @item.answerText
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        j++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>  <!-- span6 -->
                    <div class="col-sm-6">
                        <table class="table table-hover table-bordered table-sm poll-responses" data-ga-trk-hvr="responses-B">
                            <thead>
                                <tr class="answer-row">
                                    <th colspan="100%">Responses to Option B</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model.PollResults)
                                {

                                    if (item.choice == 2)
                                    {
                                        <tr class="answer-row">
                                            <td class="answer_num">
                                                @i
                                            </td>
                                            <td>
                                                <!-- <div style="font-size:0.8rem; color:#777; text-align:right; float:right;">
                                                    follow-up  upvote  downvote
                                                </div> -->
                                                <div class="answer-actions">
                                                </div>
                                                <div class="answer-content" data-title="GENDER: @item.gender<br/> AGE: @item.age<br/> EDUCATION: @item.education<br/> ETHNICITY: @item.ethnicity<br/> INCOME: @item.income" data-html="true" rel="tooltip" data-original-title="" title="">
                                                    <div class="answer-explanation" id="1271281-explanation">
                                                        @item.answerText
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>  <!-- span6 -->
                </div> <!-- row-fluid -->
            </div> <!-- container border-box -->
            @*<div class="card card-block" data-ga-trk-hvr="demographics">
                    <h3 class="card-title">Demographics</h3>
                    <div class="text-xs-center">
                        <ul id="demo-tabs" class="nav nav-pills">
                            <li class="nav-item"><a href="#demo-all" data-toggle="tab" class="nav-link chart-refresh active" aria-expanded="true">All Responses</a></li>
                            <li class="nav-item">
                                <a href="#demo-ab" data-toggle="tab" class="nav-link chart-refresh" aria-expanded="false">
                                    Option A vs. Option B
                                </a>
                            </li>
                            <li class="nav-item"><a href="#demo-segment" data-toggle="tab" class="nav-link" aria-expanded="false">Votes By Group</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="demo-all" class="tab-pane active" row-fluid="" aria-expanded="true">
                            <!-- <div class='row'>
                                    <div class="col-sm-12">
                                            <h4>
                                                All Responses
                                            </h4>
                                    </div>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="text-xs-center">
                                        Gender
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            Male (0%)
                                        </h6>
                                        <div id="gpie-0" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>Male (0%)</td><td>0</td></tr>
                                                    <tr><td>Female (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="text-xs-center">
                                        Age
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            3-17 (0%)
                                        </h6>
                                        <div id="gpie-1" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>3-17 (0%)</td><td>0</td></tr>
                                                    <tr><td>18-34 (0%)</td><td>0</td></tr>
                                                    <tr><td>35-49 (0%)</td><td>0</td></tr>
                                                    <tr><td>50-64 (0%)</td><td>0</td></tr>
                                                    <tr><td>65+ (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="text-xs-center">
                                        Income
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            $0-30k (0%)
                                        </h6>
                                        <div id="gpie-2" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>$0-30k (0%)</td><td>0</td></tr>
                                                    <tr><td>$30-60k (0%)</td><td>0</td></tr>
                                                    <tr><td>$60-100k (0%)</td><td>0</td></tr>
                                                    <tr><td>$100k+ (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="text-xs-center">
                                        Ethnicity
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            White (0%)
                                        </h6>
                                        <div id="gpie-3" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>White (0%)</td><td>0</td></tr>
                                                    <tr><td>Black (0%)</td><td>0</td></tr>
                                                    <tr><td>Asian (0%)</td><td>0</td></tr>
                                                    <tr><td>Hispanic (0%)</td><td>0</td></tr>
                                                    <tr><td>Other (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="text-xs-center">
                                        Education
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            High School (0%)
                                        </h6>
                                        <div id="gpie-4" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>High School (0%)</td><td>0</td></tr>
                                                    <tr><td>College (0%)</td><td>0</td></tr>
                                                    <tr><td>Grad School (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="demo-ab" class="tab-pane" row-fluid="" aria-expanded="false">
                            <!-- <div class='row'>
                                    <div class="col-sm-6">
                                            <h4>
                                                A
                                            </h4>
                                    </div>
                                    <div class="col-sm-6">
                                            <h4>
                                                B
                                            </h4>
                                    </div>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Gender for Option A
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            Male (0%)
                                        </h6>
                                        <div id="gpie-5" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>Male (0%)</td><td>0</td></tr>
                                                    <tr><td>Female (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Gender for Option B
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            Male (0%)
                                        </h6>
                                        <div id="gpie-6" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>Male (0%)</td><td>0</td></tr>
                                                    <tr><td>Female (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Age for Option A
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            3-17 (0%)
                                        </h6>
                                        <div id="gpie-7" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>3-17 (0%)</td><td>0</td></tr>
                                                    <tr><td>18-34 (0%)</td><td>0</td></tr>
                                                    <tr><td>35-49 (0%)</td><td>0</td></tr>
                                                    <tr><td>50-64 (0%)</td><td>0</td></tr>
                                                    <tr><td>65+ (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Age for Option B
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            3-17 (0%)
                                        </h6>
                                        <div id="gpie-8" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>3-17 (0%)</td><td>0</td></tr>
                                                    <tr><td>18-34 (0%)</td><td>0</td></tr>
                                                    <tr><td>35-49 (0%)</td><td>0</td></tr>
                                                    <tr><td>50-64 (0%)</td><td>0</td></tr>
                                                    <tr><td>65+ (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Income for Option A
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            $0-30k (0%)
                                        </h6>
                                        <div id="gpie-9" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>$0-30k (0%)</td><td>0</td></tr>
                                                    <tr><td>$30-60k (0%)</td><td>0</td></tr>
                                                    <tr><td>$60-100k (0%)</td><td>0</td></tr>
                                                    <tr><td>$100k+ (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Income for Option B
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            $0-30k (0%)
                                        </h6>
                                        <div id="gpie-10" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>$0-30k (0%)</td><td>0</td></tr>
                                                    <tr><td>$30-60k (0%)</td><td>0</td></tr>
                                                    <tr><td>$60-100k (0%)</td><td>0</td></tr>
                                                    <tr><td>$100k+ (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Ethnicity for Option A
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            White (0%)
                                        </h6>
                                        <div id="gpie-11" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>White (0%)</td><td>0</td></tr>
                                                    <tr><td>Black (0%)</td><td>0</td></tr>
                                                    <tr><td>Asian (0%)</td><td>0</td></tr>
                                                    <tr><td>Hispanic (0%)</td><td>0</td></tr>
                                                    <tr><td>Other (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Ethnicity for Option B
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            White (0%)
                                        </h6>
                                        <div id="gpie-12" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>White (0%)</td><td>0</td></tr>
                                                    <tr><td>Black (0%)</td><td>0</td></tr>
                                                    <tr><td>Asian (0%)</td><td>0</td></tr>
                                                    <tr><td>Hispanic (0%)</td><td>0</td></tr>
                                                    <tr><td>Other (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Education for Option A
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            High School (0%)
                                        </h6>
                                        <div id="gpie-13" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>High School (0%)</td><td>0</td></tr>
                                                    <tr><td>College (0%)</td><td>0</td></tr>
                                                    <tr><td>Grad School (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="text-xs-center">
                                        Education for Option B
                                    </h5>
                                    <div class="card">
                                        <h6 class="card-header">
                                            High School (0%)
                                        </h6>
                                        <div id="gpie-14" class="gpie  " style="width: 100%;   " data-chart-options="[]">
                                            <div class="text-xs-center missing-chart alert alert-danger">Charts weren't able to load. Is Adblock on? </div>
                                            <table class="table pie" style="display: table;">
                                                <thead>
                                                    <tr>
                                                        <th data-data-type="string">Trait</th>
                                                        <th data-data-type="number">Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td>High School (0%)</td><td>0</td></tr>
                                                    <tr><td>College (0%)</td><td>0</td></tr>
                                                    <tr><td>Grad School (0%)</td><td>0</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="demo-segment" class="tab-pane" row-fluid="" aria-expanded="false">
                            <div class="row">
                                <div class="col-xs-2 col-sm-1">
                                    <h4>
                                        A
                                    </h4>
                                </div>
                                <div class="col-xs-8 col-sm-10">
                                    <h4><center>Votes by demographic segment</center></h4>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h4>
                                        B
                                    </h4>
                                </div>
                            </div>
                            <hr>
                            <h5>Gender</h5>
                            <div style="font-size:1.23em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:35px; line-height:35px; font-weight:bold; font-size:1.2em;">86%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:35px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:35px;">
                                        <div class="bar bar-info" style="width:86%;;"></div>
                                        <div class="bar bar-danger" style="width:14%;"></div>
                                        <h6 class="" style="height:35px; margin:0; position: absolute; top: 0px; line-height: 35px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:1.23em;">Male&nbsp;(30)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:35px; line-height:35px; ">13%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:1.07em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:30px; line-height:30px; font-weight:bold; font-size:1.2em;">60%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:30px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:30px;">
                                        <div class="bar bar-info" style="width:60%;;"></div>
                                        <div class="bar bar-danger" style="width:40%;"></div>
                                        <h6 class="" style="height:30px; margin:0; position: absolute; top: 0px; line-height: 30px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:1.07em;">Female&nbsp;(20)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:30px; line-height:30px; ">40%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <hr>
                            <h5>Age</h5>
                            <div style="font-size:0.8em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:20px; line-height:20px; font-weight:bold; font-size:1.2em;">-</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:20px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:20px;">
                                        <h6 class="" style="height:20px;color:#404040; margin:0; position: absolute; top: 0px; line-height: 20px; z-index: 2;color: inherit;text-align: center;width: 100%; font-size:0.8em;">3-17&nbsp;(None)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:20px; line-height:20px; font-weight:bold; font-size: 1.2em;">-</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:1.15em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:32px; line-height:32px; font-weight:bold; font-size:1.2em;">80%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:32px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:32px;">
                                        <div class="bar bar-info" style="width:80%;;"></div>
                                        <div class="bar bar-danger" style="width:20%;"></div>
                                        <h6 class="" style="height:32px; margin:0; position: absolute; top: 0px; line-height: 32px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:1.15em;">18-34&nbsp;(25)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:32px; line-height:32px; ">20%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:1.022em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:28px; line-height:28px; font-weight:bold; font-size:1.2em;">64%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:28px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:28px;">
                                        <div class="bar bar-info" style="width:64%;;"></div>
                                        <div class="bar bar-danger" style="width:36%;"></div>
                                        <h6 class="" style="height:28px; margin:0; position: absolute; top: 0px; line-height: 28px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:1.022em;">35-49&nbsp;(17)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:28px; line-height:28px; ">35%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:0.878em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:24px; line-height:24px; font-weight:bold; font-size:1.2em;">87%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:24px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:24px;">
                                        <div class="bar bar-info" style="width:87%;;"></div>
                                        <div class="bar bar-danger" style="width:13%;"></div>
                                        <h6 class="" style="height:24px; margin:0; position: absolute; top: 0px; line-height: 24px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:0.878em;">50-64&nbsp;(8)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:24px; line-height:24px; ">12%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:0.8em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:20px; line-height:20px; font-weight:bold; font-size:1.2em;">-</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:20px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:20px;">
                                        <h6 class="" style="height:20px;color:#404040; margin:0; position: absolute; top: 0px; line-height: 20px; z-index: 2;color: inherit;text-align: center;width: 100%; font-size:0.8em;">65+&nbsp;(None)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:20px; line-height:20px; font-weight:bold; font-size: 1.2em;">-</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <hr>
                            <h5>Income</h5>
                            <div style="font-size:1.006em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:28px; line-height:28px; font-weight:bold; font-size:1.2em;">87%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:28px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:28px;">
                                        <div class="bar bar-info" style="width:87%;;"></div>
                                        <div class="bar bar-danger" style="width:13%;"></div>
                                        <h6 class="" style="height:28px; margin:0; position: absolute; top: 0px; line-height: 28px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:1.006em;">$0-30k&nbsp;(16)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:28px; line-height:28px; ">12%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:1.054em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:29px; line-height:29px; font-weight:bold; font-size:1.2em;">73%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:29px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:29px;">
                                        <div class="bar bar-info" style="width:73%;;"></div>
                                        <div class="bar bar-danger" style="width:27%;"></div>
                                        <h6 class="" style="height:29px; margin:0; position: absolute; top: 0px; line-height: 29px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:1.054em;">$30-60k&nbsp;(19)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:29px; line-height:29px; ">26%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:0.926em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:25px; line-height:25px; font-weight:bold; font-size:1.2em;">63%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:25px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:25px;">
                                        <div class="bar bar-info" style="width:63%;;"></div>
                                        <div class="bar bar-danger" style="width:37%;"></div>
                                        <h6 class="" style="height:25px; margin:0; position: absolute; top: 0px; line-height: 25px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:0.926em;">$60-100k&nbsp;(11)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:25px; line-height:25px; ">36%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:0.8140000000000001em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:22px; line-height:22px; font-weight:bold; font-size:1.2em;">75%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:22px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:22px;">
                                        <div class="bar bar-info" style="width:75%;;"></div>
                                        <div class="bar bar-danger" style="width:25%;"></div>
                                        <h6 class="" style="height:22px; margin:0; position: absolute; top: 0px; line-height: 22px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:0.8140000000000001em;">$100k+&nbsp;(4)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:22px; line-height:22px; ">25%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <hr>
                            <h5>Ethnicity</h5>
                            <div style="font-size:1.3900000000000001em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:40px; line-height:40px; font-weight:bold; font-size:1.2em;">75%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:40px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:40px;">
                                        <div class="bar bar-info" style="width:75%;;"></div>
                                        <div class="bar bar-danger" style="width:25%;"></div>
                                        <h6 class="" style="height:40px; margin:0; position: absolute; top: 0px; line-height: 40px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:1.3900000000000001em;">White&nbsp;(40)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:40px; line-height:40px; ">25%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:0.798em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:21px; line-height:21px; font-weight:bold; font-size:1.2em;">100%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:21px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:21px;">
                                        <div class="bar bar-info" style="width:100%;;"></div>
                                        <div class="bar bar-danger" style="width:0%;"></div>
                                        <h6 class="" style="height:21px; margin:0; position: absolute; top: 0px; line-height: 21px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:0.798em;">Black&nbsp;(3)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:21px; line-height:21px; ">0%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:0.782em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:21px; line-height:21px; font-weight:bold; font-size:1.2em;">100%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:21px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:21px;">
                                        <div class="bar bar-info" style="width:100%;;"></div>
                                        <div class="bar bar-danger" style="width:0%;"></div>
                                        <h6 class="" style="height:21px; margin:0; position: absolute; top: 0px; line-height: 21px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:0.782em;">Asian&nbsp;(2)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:21px; line-height:21px; ">0%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:0.8300000000000001em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:22px; line-height:22px; font-weight:bold; font-size:1.2em;">60%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:22px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:22px;">
                                        <div class="bar bar-info" style="width:60%;;"></div>
                                        <div class="bar bar-danger" style="width:40%;"></div>
                                        <h6 class="" style="height:22px; margin:0; position: absolute; top: 0px; line-height: 22px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:0.8300000000000001em;">Hispanic&nbsp;(5)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:22px; line-height:22px; ">40%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:0.8em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:20px; line-height:20px; font-weight:bold; font-size:1.2em;">-</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:20px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:20px;">
                                        <h6 class="" style="height:20px;color:#404040; margin:0; position: absolute; top: 0px; line-height: 20px; z-index: 2;color: inherit;text-align: center;width: 100%; font-size:0.8em;">Other&nbsp;(None)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:20px; line-height:20px; font-weight:bold; font-size: 1.2em;">-</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <hr>
                            <h5>Education</h5>
                            <div style="font-size:0.862em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:23px; line-height:23px; font-weight:bold; font-size:1.2em;">85%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:23px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:23px;">
                                        <div class="bar bar-info" style="width:85%;;"></div>
                                        <div class="bar bar-danger" style="width:15%;"></div>
                                        <h6 class="" style="height:23px; margin:0; position: absolute; top: 0px; line-height: 23px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:0.862em;">High School&nbsp;(7)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:23px; line-height:23px; ">14%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:1.294em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:37px; line-height:37px; font-weight:bold; font-size:1.2em;">73%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:37px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:37px;">
                                        <div class="bar bar-info" style="width:73%;;"></div>
                                        <div class="bar bar-danger" style="width:27%;"></div>
                                        <h6 class="" style="height:37px; margin:0; position: absolute; top: 0px; line-height: 37px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:1.294em;">College&nbsp;(34)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:37px; line-height:37px; ">26%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div style="font-size:0.894em;" class="row demo-bar">
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:24px; line-height:24px; font-weight:bold; font-size:1.2em;">77%</h6>
                                </div>
                                <div class="col-xs-8 col-sm-10" style="height:24px;">
                                    <div class="progress-bar-wrapper progress-bar-wrapper-flat" style="height:24px;">
                                        <div class="bar bar-info" style="width:77%;;"></div>
                                        <div class="bar bar-danger" style="width:23%;"></div>
                                        <h6 class="" style="height:24px; margin:0; position: absolute; top: 0px; line-height: 24px; z-index: 2;color: #fff;text-align: center;width: 100%; font-size:0.894em;">Grad School&nbsp;(9)</h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                    <h6 style="height:24px; line-height:24px; ">22%</h6>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>*@

            <script>
                var hlt_rows_active_id = null;
                function toggle_hlt_rows(ids, src_elt) {
                    // disable hlt_rows_active
                    // console.log(src_elt);
                    $('.' + 'freq-selected').removeClass('freq-selected');

                    $(src_elt).parent().addClass('freq-selected');
                    if (hlt_rows_active_id != null) {
                        $('#' + hlt_rows_active_id).removeClass('highlight-row');
                    }
                    // enable hlt_rows_active
                    hlt_rows_active_id = src_elt.id;
                    $('#' + hlt_rows_active_id).addClass('highlight-row');

                    // toggle the rows
                    hlt_rows(ids);
                }
                function hlt_rows(ids) {
                    $('.answer-row').removeClass('highlight-row');
                    for (var idx in ids) {
                        // console.log('#answer-' + ids[idx]);
                        $('#answer-' + ids[idx]).addClass('highlight-row');
                    };
                };
            </script>

            <style>
                .qtable td p {
                    font-size: 1.2em;
                    line-height: 1.5em;
                }
            </style>
        </div>
    </div>
</section>
